

.query-screen{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purple{
    background: linear-gradient(180deg, #0D0A2C 3.57%, rgba(24, 17, 100, 0.75) 100%);
    border-radius: 50px;
    height: 80%;
    width: 60%;
    margin: 15%;
}

.query{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.connect{
    margin-top: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
/* identical to box height, or 58px */

    text-align: center;

    color: rgba(0, 0, 0, 0.75);

}